<div class="container mt-4 animated fadeIn">
    <div class="row">
        <h1 class="display-4">Persona</h1>
    </div>
    <div class="alert alert-danger " *ngIf="error">
        {{ errorMensaje }}
    </div>
    <div class="row">
        <input class="form-control" type="search" name="searchPersona" id="searchPersona" placeholder="Buscar Persona por C.I." [(ngModel)]="searchText"> {{busqueda}}
    </div>
    <div class="row mt-2">
        <button class="btn btn-outline-success" (click)="registrarPersona(0)"><i class="fas fa-plus"></i> Adicionar Registro </button>
    </div>
    <div class="row mt-2">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">C.I.</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }; index as i ">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ persona.nombreCompleto }}</td>
                    <td>{{ persona.nroCi }}</td>
                    <td>{{ persona.fecNacimiento | date:'dd/MM/yyyy' : 'UTC' }}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-primary" (click)="verPersona(persona.idPersona)"> Ver Mas </button>
                        <button class="btn btn-outline-info" (click)="registrarPersona(persona.idPersona)"> Editar </button>
                        <button class="btn btn-outline-danger" (click)="openModal(template,persona.idPersona)" data-toggle="modal" data-target="#eliminarModal"> Eliminar </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Atras" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Confirmar Eliminación</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Si</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>