<div class="container mt-3 animated fadeIn align-items-center w-75">

    <h1 class="text-center display-4" *ngIf="authenticationService.isAuthenticated()">Bienvenido <i class="fas fa-house-user"></i></h1>
    <br>
    <img class="img-fluid  w-25 h-25 rounded  mx-auto d-block mt-2" src="assets/imagenes/umsaLogo.png" />

</div>