<div class="container my-4 animated fadeIn">
    <div class="row">
        <h1 class="display-4">Docentes</h1>
    </div>
    <div class="alert alert-danger " *ngIf="error">
        <!-- {{ errorMensaje }} -->
    </div>
    <div class="row">
        
        <input class="form-control" type="search" name="sarchDocente" id="searchDocente" placeholder="Buscar Docente" [(ngModel)]="searchText" (keyup)="buscarDocente()"> {{busqueda}}
    </div>
    <div class="row mt-2">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">Ci</th>
                    <th scope="col">Fecha Nacimiento</th>                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let docente of docentes | paginate: { itemsPerPage: 10, currentPage: p }; index as i ">
                    <th scope="row">{{ i + 1 }}</th>                    
                    <td>{{ docente.apPaterno }} {{ docente.apMaterno }} {{ docente.nombres }} </td>
                    <td>{{ docente.nroCi }}</td>
                    <td>{{ docente.fechaNacimiento | date: 'dd-MM-yyyy'}}</td>                  
                </tr>
            </tbody> 
        </table>
    </div>
    <div class="text-center">
        <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Atras" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>
 