<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-custom">
    <a class="navbar-brand" href="#"><i class="fas fa-users"></i> UMSA </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarMenu" aria-controls="navBarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navBarMenu">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown" *ngIf="authenticationService.isROLE_ADMIN()" [routerLinkActive]="['active']" data-target=".navbar-collapse.show"  data-toggle="collapse" >
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-cog "></i>
                     Administrar Permisos</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" data-toggle="collapse" routerLink="/persona">Administrar Personas</a>
                    <a class="dropdown-item" href="#" data-toggle="collapse" routerLink="/usuario">Administrar Usuarios</a>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="authenticationService.isROLE_ESTUDIANTE()" [routerLinkActive]="['active']" data-target=".navbar-collapse.show" data-toggle="collapse" >
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-check "></i> Administrar Autoridades</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" data-toggle="collapse"  routerLink="/autoridad">Autoridades</a>

                    <!-- <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Reportes</a> -->
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="authenticationService.isROLE_ESTUDIANTE()" [routerLinkActive]="['active']" data-target=".navbar-collapse.show" data-toggle="collapse" >
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user " data-toggle="collapse" ></i> Estudiantes</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" data-toggle="collapse"  routerLink="/estudiante">Estudiantes</a>

                    <!-- <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Reportes</a> -->
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="authenticationService.isROLE_ESTUDIANTE()" [routerLinkActive]="['active']" data-target=".navbar-collapse.show" data-toggle="collapse" >
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-chalkboard-teacher "></i> Docentes</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" data-toggle="collapse"  routerLink="/docente">Docentes</a>
                </div>
            </li>

            <li class="nav-item dropdown" *ngIf="authenticationService.isROLE_AUTORIDAD_2()" [routerLinkActive]="['active']" data-target=".navbar-collapse.show" data-toggle="collapse"  >
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-book-reader"></i> Consultar Docentes</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" data-toggle="collapse"  routerLink="/consultar/docente">Consultar</a>

                </div>
            </li>



        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" data-target=".navbar-collapse.show" >
                <a class="navbar-brand" href="#" data-toggle="collapse"  *ngIf="authenticationService.isAuthenticated()" (click)="authenticationService.logout()">
                    Finalizar Sesion <i class="fas fa-sign-out-alt fa-flip-horizontal "></i></a>
            </li>
            <li class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse" >
                <a class="navbar-brand" href="#" data-toggle="collapse"  *ngIf="!authenticationService.isAuthenticated()" routerLink="/ingreso">
                    <i class="fas fa-key "></i> Iniciar Sesion </a>
            </li>
            <li class="nav-item" data-target=".navbar-collapse.show" >
                <a class="navbar-brand " href="https://www.umsa.bo/ " *ngIf="!authenticationService.isAuthenticated() " (click)="authenticationService.logout() ">
                    <i class="fas fa-user-graduate "></i> Universidad Mayor de San Andres </a>
            </li>
        </ul>
    </div>
    <!-- <a class="navbar-brand" href="#" *ngIf="authenticationService.isAuthenticated()" (click)="authenticationService.logout()">
         Finalizar Sesion <i class="fas fa-sign-out-alt fa-flip-horizontal "></i></a>
    <a class="navbar-brand" href="#" *ngIf="!authenticationService.isAuthenticated()" routerLink="/login">
        <i class="fas fa-key "></i> Iniciar Sesion </a>
    <a class="navbar-brand " href="https://www.umsa.bo/ " *ngIf="!authenticationService.isAuthenticated() " (click)="authenticationService.logout() ">
        <i class="fas fa-user-graduate "></i> Universidad Mayor de San Andres </a> -->
</nav>