<div class="container animated fadeIn mt-4">
    <div class="row">
        <h1 class="display-4">Registro Docente</h1>
    </div>
    <div class="text-right">
        <button class="btn btn-outline-danger btn-lg mt-2 mr-2" type="button" (click)="volver()"><i class="fas fa-long-arrow-alt-left fa-lg"></i> Volver  </button>
    </div>


    <div class="">
        <h1>{{ docente.nombreCompleto }}</h1>
        <div class="alert alert-danger " *ngIf="error">
            {{ errorMensaje }}
        </div>
        <div class="alert alert-warning " *ngIf="docenteForm.dirty && docenteForm.invalid ">
            Formulario Invalido, los campos marcados con rojo son obligatorios
        </div>

        <form (ngSubmit)="!docenteForm.invalid && registrarDocente(docente.idDocente)" #docenteForm="ngForm">
            <div class="form-row ">
                <div class="form-group col-md-8  ">
                    <label for="clave">Carrera</label>

                    <select name="genero" class="form-control" required [(ngModel)]="docente.idUnidad">
                        <option value="null" disabled>Seleccionar...</option>
                        <option *ngFor="let unidad of unidades" [value]="unidad.idUnidad">
                         {{ unidad.unidadAcademica }}
                        </option>
                      </select>
                </div>
            </div>
            <div class="form-group ">
                <button class="btn btn-outline-success btn-block " type="submit "><i class="far fa-save fa-lg "></i> Guardar Datos</button>
            </div>
        </form>
    </div>
</div>