<div class="container my-4 animated fadeIn">
    <div class="row">
        <h1 class="display-4">Roles</h1>
    </div>
    <h3>{{ usuario.usuario }} <small>({{ usuario.nombreCompleto }})</small></h3>
    <div class="text-right">
        <button class="btn btn-outline-danger btn-lg my-2 mr-2" type="button" (click)="volver()"><i class="fas fa-long-arrow-alt-left fa-lg"></i> Volver  </button>
    </div>
    <div class="alert alert-danger " *ngIf="error">
        {{ errorMensaje }}
    </div>
    <div class="row mt-2">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Permitir</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuarioRol of usuarioRoles ; index as i ">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ usuarioRol.rol }}</td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck_{{ i + 1 }}" [checked]="usuarioRol.idUsuario" (change)="editarRol(usuario.idUsuario, usuarioRol.idRol, $event)">
                            <label class="custom-control-label" for="customCheck_{{ i + 1 }}">Si</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>