<div class="container animated fadeIn mt-4">
    <div class="row">
        <h1 class="display-4">Registro Autoridad Estudiante</h1>
    </div>
    <div class="text-right">
        <button class="btn btn-outline-danger btn-lg mt-2 mr-2" type="button" (click)="volver()"><i class="fas fa-long-arrow-alt-left fa-lg"></i> Volver  </button>
    </div>
    <div class="row mt-2" *ngIf="formularioCompleto">
        <div class="col-12">
            <form (ngSubmit)="buscarEstudiantes()">
                <div class="form-row ">
                    <div class="form-group col-md-4 ">
                        <label for="paterno">C.I. Estudiante</label>
                        <input class="form-control" type="text" name="ciMatriculacion" id="ciMatriculacion" placeholder="Ingresar Dato" [(ngModel)]="busquedaCi">
                    </div>
                    <div class="form-group col-md-4 ">
                        <label><i class="fas fa-search"></i> Buscar Estudiante <i class="fas fa-user-friends"></i></label>
                        <button class="btn btn-info btn-block" type="submit"> Listar </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-2" *ngIf="formularioCompleto">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">C.I.</th>
                    <th scope="col">Carrera</th>

                    <th scope="col" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }; -->
                <tr *ngFor="let estudiante of estudiantes  index as i ">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ estudiante.nombreCompleto }}</td>
                    <td>{{ estudiante.nroCi }}</td>
                    <td>{{ estudiante.unidadAcademica }}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-primary" (click)="
                        cambiarFormulario(0,estudiante.idEstudiante)"> Registrar </button>
                        <!-- <button class="btn btn-ou
                            tline-info" (click)="registrarPersona(persona.idPersona)"> Editar </button> -->
                        <!-- <button class="btn btn-outline-danger" (click)="openModal(template,persona.idPersona)" data-toggle="modal" data-target="#eliminarModal"> Eliminar </button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- *ngIf="formularioCompleto" -->
    <div class="" *ngIf="!formularioCompleto">
        <!-- <div class="alert alert-danger " *ngIf="error">
            {{ errorMensaje }}
        </div> -->
        <!-- <div class="alert alert-warning " *ngIf="autoridadForm.dirty && autoridadForm.invalid ">
            Formulario Invalido, los campos marcados con rojo son obligatorios
        </div> -->

        <!-- <div class="alert alert-warning " *ngIf="nombres.dirty && nombres.invalid ">
            Ingrese el nombre de la persona
        </div>
        <div class="alert alert-warning " *ngIf="ci.dirty && ci.invalid ">
            Ingrese el C.I. de la persona
        </div> -->
        <!-- (ngSubmit) !autoridadForm.invalid && registrarPersona(persona.idPersona) -->
        <form #autoridadForm="ngForm" (ngSubmit)="registrarEstudianteCargo(estudianteCargo.idEstudianteCargo)">
            <div class="form-row ">
                <div class="form-group col-md-12 ">
                    <h5>Unidad Autoridad: </h5> {{unidadAutoridad.unidadAcademica}}
                </div>
            </div>
            <div class="form-row ">

                <div class="form-group col-md-4 ">
                    <h5>Estudiante</h5> {{estudiante.nombreCompleto}}
                </div>
                <div class="form-group col-md-4 ">
                    <h5>Carrera</h5> {{estudiante.unidadAcademica}}
                </div>
                <div class="form-group col-md-4 ">
                    <h5>R.U.</h5> {{estudiante.ru}}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="tipoCargoEstudiantil">Cargo Autoridad</label>
                    <select name="tipoCargoEstudiantil" class="form-control" required [(ngModel)]="estudianteCargo.idCargoEstudiantil">
                        <option value="null" disabled>Seleccionar...</option>
                        <option *ngFor="let itemCargoEstudiantil of cargoEstudiantil" [value]="itemCargoEstudiantil.idCargoEstudiantil">
                         {{ itemCargoEstudiantil.cargo }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="tipoCargoNivel">Nivel de Cargo</label>
                    <select name="tipoCargoNivel" class="form-control" required [(ngModel)]="estudianteCargo.idTipoCargoNivel">
                        <option value="null" disabled>Seleccionar...</option>
                        <option *ngFor="let item of tipoCargoNivel" [value]="item.idTipoCargoNivel">
                         {{ item.tipoCargoNivel }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="tipoCargoNro">Prioriodad de Cargo</label>
                    <select name="tipoCargoNro" class="form-control" required [(ngModel)]="estudianteCargo.idTipoCargoNro">
                        <option value="null" disabled>Seleccionar...</option>
                        <option *ngFor="let item of tipoCargoNro" [value]="item.idTipoCargoNro">
                         {{ item.tipoCargoNro }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">

                    <label for="fechaDesde"> Desde</label>
                    <input class="form-control " type="text" name="fechaDesde" id="fechaDesde" placement="top" autocomplete="off" bsDatepicker [bsConfig]="datePickerConfig" [ngModel]="estudianteCargo.fecDesde| date:'dd-MM-yyyy'" (ngModelChange)="estudianteCargo.fecDesde = $event">

                </div>
                <div class="form-group col-md-3">
                    <label for="fechaDesde"> Hasta</label>
                    <input class="form-control " type="text" name="fechaHasta" id="fechaHasta" placement="top" autocomplete="off" bsDatepicker [bsConfig]="datePickerConfig" [ngModel]="estudianteCargo.fecHasta| date:'dd-MM-yyyy'" (ngModelChange)="estudianteCargo.fecHasta = $event">
                </div>
                <div class="form-group col-md-3">
                    <label for="frente">Frente</label>
                    <input class="form-control " type="text" name="frente" id="frente" [(ngModel)]="estudianteCargo.frente">
                </div>
                <div class="form-group col-md-3">
                    <label for="observacion">Observacion</label>
                    <input class="form-control " type="text" name="observacion" id="observacion" [(ngModel)]="estudianteCargo.observacion ">
                </div>
            </div>
            <div class="form-group ">
                <button class="btn btn-outline-success btn-block " type="submit "><i class="far fa-save fa-lg "></i> Guardar Datos</button>
            </div>
        </form>
    </div>
</div>