<div class="container mt-4 animated fadeIn">
    <div class="row">
        <h1 class="display-4">Seleccionar Persona</h1>
    </div>
    <div class="text-right">
        <button class="btn btn-outline-danger btn-lg my-2 mr-2" type="button" (click)="volver()"><i class="fas fa-long-arrow-alt-left fa-lg"></i> Volver  </button>
    </div>
    <div class="alert alert-danger " *ngIf="error">
        {{ errorMensaje }}
    </div>
    <div class="row">
        <input class="form-control" type="search" name="searchPersona" id="searchPersona" placeholder="Buscar Persona por C.I." [(ngModel)]="searchText">
    </div>
    <div class="row mt-2">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">C.I.</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }; index as i ">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ persona.nombreCompleto }}</td>
                    <td>{{ persona.nroCi }}</td>
                    <td>{{ persona.fecNacimiento | date:'yyyy-MM-dd' : 'UTC' }}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-primary" (click)="seleccionarPersona(persona.idPersona)"> Seleccionar </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Atras" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>