<div class="container animated fadeIn mt-4">
    <div class="row">
        <h1 class="display-4">Registro Persona</h1>
    </div>
    <div class="text-right">
        <button class="btn btn-outline-danger btn-lg mt-2 mr-2" type="button" (click)="volver()"><i class="fas fa-long-arrow-alt-left fa-lg"></i> Volver  </button>
    </div>


    <div class="">

        <div class="alert alert-danger " *ngIf="error">
            {{ errorMensaje }}
        </div>
        <div class="alert alert-warning " *ngIf="personaForm.dirty && personaForm.invalid ">
            Formulario Invalido, los campos marcados con rojo son obligatorios
        </div>

        <div class="alert alert-warning " *ngIf="nombres.dirty && nombres.invalid ">
            Ingrese el nombre de la persona
        </div>
        <div class="alert alert-warning " *ngIf="ci.dirty && ci.invalid ">
            Ingrese el C.I. de la persona
        </div>

        <form (ngSubmit)="!personaForm.invalid && registrarPersona(persona.idPersona)" #personaForm="ngForm">
            <div class="form-row ">
                <div class="form-group col-md-4 ">
                    <label for="paterno">Paterno</label>
                    <input class="form-control text-uppercase" type="text" name="paterno" id="paterno" [(ngModel)]="persona.apPaterno ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="materno">Materno</label>
                    <input class="form-control text-uppercase" type="text" name="materno" id="materno" [(ngModel)]="persona.apMaterno ">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="nombres">Nombres</label>
                    <input class="form-control text-uppercase" type="text" name="nombres" id="nombres" required="required " [(ngModel)]="persona.nombres " #nombres="ngModel">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="ci">C.I.</label>
                    <input class="form-control " type="text" name="ci" id="ci" required="required" [(ngModel)]="persona.nroCi " #ci="ngModel">
                </div>
                <!-- <div class="form-group col-md-2">
                    <label for="ciExt">Variante </label>
                    <input class="form-control text-uppercase" type="text" name="extCi" id="extCi" [(ngModel)]="persona.extCi ">
                </div> -->
                <div class="form-group col-md-3">
                    <label for="lugCi">Expedido</label>
                    <!-- <input class="form-control text-uppercase" maxlength="2" minlength="2" type="text" name="lugCi" id="lugCi" [(ngModel)]="persona.lugCi "> -->
                    <!-- <label for="genero">Expedido</label> -->
                    <select name="lugCi" class="form-control" [(ngModel)]="persona.lugCi">
                        <option value="null" disabled>Seleccionar...</option>
                        <option *ngFor="let expedido of expedidoList" [value]="expedido">
                            {{ expedido }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="genero">Genero</label>
                    <select name="genero" class="form-control" required [(ngModel)]="persona.idSexo">
                        <option value="null" disabled>Seleccionar...</option>
                        <option *ngFor="let sexo of sexoList" [value]="sexo.idSexo">
                         {{ sexo.descripcion }}
                        </option>
                      </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="fechaNacimiento">Fecha Nacimiento</label>
                    <!-- <input class="form-control " type="date" name="fechaNacimiento" id="fechaNacimiento" minlength="5 " [ngModel]="persona.fecNacimiento | date:'yyyy-MM-dd'" (ngModelChange)="persona.fecNacimiento = $event"> -->
                    <!-- [(ngModel)]="persona.fecNacimiento" -->
                    <input class="form-control " type="text" name="fechaNacimiento" id="fechaNacimiento" autocomplete="off" bsDatepicker [bsConfig]="datePickerConfig" [ngModel]="persona.fecNacimiento | date:'dd-MM-yyyy'" (ngModelChange)="persona.fecNacimiento = $event">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="direccion">Direccion</label>
                    <input class="form-control" type="text" name="direccion" id="direccion" [(ngModel)]="persona.direccion">
                </div>
                <div class="form-group col-md-4">
                    <label for="telefonos">Telefonos</label>
                    <input class="form-control " type="text" name="telefonos" id="telefonos" [(ngModel)]="persona.telefonos">
                </div>
                <div class="form-group col-md-4">
                    <label for="correo">correos</label>
                    <input class="form-control " type="text" name="correo" id="correo" [(ngModel)]="persona.correos ">
                </div>
            </div>
            <div class="form-group ">
                <button class="btn btn-outline-success btn-block " type="submit " *ngIf="editar "><i class="far fa-save fa-lg "></i> Guardar Datos</button>
            </div>
        </form>
    </div>
</div>