<div class="container my-4 animated fadeIn">
    <div class="row">
        <h1 class="display-4">Estudiantes</h1>
    </div>
    <div class="alert alert-danger " *ngIf="error">
        {{ errorMensaje }}

    </div>
    <div class="row">
        <input class="form-control" type="search" name="searchEstudiante" id="searchEstudiante" placeholder="Buscar Estudiante" [(ngModel)]="searchText" (keyup)="buscarEstudiantes()"> {{busqueda}}
    </div>
    <div class="row mt-2">
        <button class="btn btn-outline-success mx-2" (click)="registrarEstudiante(0)"><i class="fas fa-plus"></i> Registrar Nuevo Estudiante </button>
    </div>
    <div class="row mt-2">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">Ci</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">R.U.</th>
                    <th scope="col" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let estudiante of estudiantes | paginate: { itemsPerPage: 10, currentPage: p }; index as i ">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ estudiante.nombreCompleto }}</td>
                    <td>{{ estudiante.nroCi }}</td>
                    <td>{{ estudiante.unidadAcademica }}</td>
                    <td>{{ estudiante.ru }}</td>
                    <td class="text-center">
                        <span class="fa-stack mt-1" aria-hidden="true" tooltip="Editar Registro">
                            <a (click)="registrarEstudiante(estudiante.idEstudiante)">
                                <i class="fa fa-edit fa-stack-1x fa-inverse"></i>  
                            </a>                            
                        </span>
                        <span class="fa-stack ml-1 mt-1" aria-hidden="true" tooltip="Eliminar Registro">
                            <a (click)="openModal(template,estudiante.idEstudiante)">
                                <i class="fa fa-trash-alt fa-stack-1x fa-inverse"></i>
                            </a>                            
                        </span>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Atras" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Confirmar Eliminación</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Si</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>