<div class="container animated fadeIn mt-4">
    <div class="row">
        <h1 class="display-4">Registro Usuario</h1>
    </div>
    <div class="text-right">
        <button class="btn btn-outline-danger btn-lg mt-2 mr-2" type="button" (click)="volver()"><i class="fas fa-long-arrow-alt-left fa-lg"></i> Volver  </button>
    </div>


    <div class="">
        <h1>{{ usuario.nombreCompleto }}</h1>
        <div class="alert alert-danger " *ngIf="error">
            {{ errorMensaje }}
        </div>
        <div class="alert alert-warning " *ngIf="usuarioForm.dirty && usuarioForm.invalid ">
            Formulario Invalido, los campos marcados con rojo son obligatorios
        </div>

        <div class="alert alert-warning " *ngIf="usuarioInput.dirty && usuarioInput.invalid ">
            El nombre de usuario debe tener mas de 5 caracteres
        </div>
        <div class="alert alert-warning " *ngIf="claveInput.dirty && claveInput.invalid ">
            La clave debe tener mas de 5 caracteres
        </div>


        <form (ngSubmit)="!usuarioForm.invalid && registrarUsuario(usuario.idUsuario)" #usuarioForm="ngForm">
            <div class="form-row ">
                <div class="form-group col-md-4 ">
                    <label for="usuario">Usuario</label>
                    <input class="form-control " type="text" name="usuario" id="usuario" autocomplete="off" required="required" minlength="6" [(ngModel)]="usuario.usuario " #usuarioInput="ngModel">
                </div>
                <div class="form-group col-md-4 ">
                    <label for="clave">Clave</label>
                    <input class="form-control " type="password" name="clave" id="clave" autocomplete="off" required="required" minlength="6" [(ngModel)]="usuario.clave " #claveInput="ngModel">
                </div>
            </div>
            <div class="form-group ">
                <button class="btn btn-outline-success btn-block " type="submit "><i class="far fa-save fa-lg "></i> Guardar Datos</button>
            </div>
        </form>
    </div>
</div>