<div class="container w-100 login-container animated fadeIn">
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="alert alert-danger mb-5" role="alert" *ngIf="errorLogin">
                Usuario o Contraseña incorrecta
            </div>
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="assets/imagenes/user.png" alt="userImage">
                </div>

                <form (ngSubmit)="handleLogin()" class="col-12" #loginForm="ngForm">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" id="username" placeholder="Ingresar Usuario" [(ngModel)]="username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" id="password" placeholder="Ingresar Clave" [(ngModel)]="password">
                    </div>
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-sign-in-alt"></i> Ingresar
                    </button>
                </form>
            </div>
            <!-- End of Modal Content -->
        </div>
    </div>
</div>