.main-section {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0px;
}

.modal-content {
    background-color: #28578a;
    opacity: .95;
    padding: 0 18px;
    box-shadow: 0px 0px 20px #848484;
}

.user-img {
    margin-top: -50px;
    margin-bottom: 20px;
}

.user-img img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: #d0353c;
    box-shadow: 0px 0px 10px #848484;
}

.form-group {
    margin-bottom: 25px;
}

.form-group input {
    height: 42px;
    border-radius: 10px;
    border: 0;
    font-size: 18px;
    padding-left: 45px;
}

.form-group::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f007";
    position: absolute;
    font-size: 22px;
    color: #28578a;
    left: 28px;
    padding-top: 4px;
}

.form-group:last-of-type::before {
    content: "\f2bb";
}

button {
    width: 90%;
    margin: 5px 0 25px;
}

.btn {
    background-color: #d0353c;
    color: #fff;
    font-size: 20px;
    padding: 7px 14px;
    border-bottom: 4px solid #922429;
}

.btn:hover,
.btn:focus {
    background-color: #922429;
    border-bottom: 4px solid #922429 !important;
}