<div class="container mt-4 animated fadeIn">
    <div class="row">
        <h1 class="display-4">Autoridades </h1>
    </div>
    <label for="unidad">Unidades académicas asignadas</label>
    <select name="unidad" class="form-control" required [(ngModel)]="autoridad.idUnidadAutoridad" (ngModelChange)="listarAutoridadesCargo()">
        <option value="null" disabled>Seleccionar...</option>
        <option *ngFor="let unidad of unidades" [value]="unidad.idUnidad">
         {{ unidad.unidadAcademica }}
        </option>
      </select>



    <!-- <div class="alert alert-danger " *ngIf="error">
        {{ errorMensaje }}
    </div>
    <div class="row">
        <input class="form-control" type="search" name="searchPersona" id="searchPersona" placeholder="Buscar Persona por C.I." [(ngModel)]="searchText"> {{busqueda}}
    </div>-->
    <div class="row mt-2">

        <button class="btn btn-outline-primary" (click)="registrarAutoridadEstudiante(0)"><i class="fas fa-plus"></i> Nueva Autoridad Estudiantil </button>
        <button class="btn btn-outline-info ml-4" (click)="registrarAutoridadDocente(0)"><i class="fas fa-plus"></i> Nueva Autoridad Docente </button>
        <button class="btn btn-outline-danger ml-4" (click)="reportePorUnidad()"><i class="fas fa-file-pdf"></i> Reporte por Unidad </button>
        <button class="btn btn-outline-success ml-4" (click)="reportePorUnidadExcel()"><i class="fas fa-file-excel"></i> Reporte por Unidad </button>
    </div>
    <div class="row mt-2">
        <table class="table table-hover table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">C.I.</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">Estamento</th>
                    <th scope="col">Cargo</th>
                    <th scope="col" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }; -->
                <tr *ngFor="let autoridad of autoridades  index as i ">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ autoridad.nombreCompleto }}</td>
                    <td>{{ autoridad.nroCi }}</td>
                    <td>{{ autoridad.unidadAcademica }}</td>
                    <td>{{ autoridad.estamento }}</td>
                    <td>
                        <p class="font-weight-bold">{{ autoridad.tipoCargoNro }} {{ autoridad.tipoCargoNivel }} </p> {{ autoridad.cargo }} </td>
                    <td class="text-center">
                        <div *ngIf="autoridad.idEstamento==1">
                            <span class="fa-stack mt-1" aria-hidden="true" tooltip="Editar Registro">
                                <a (click)="registrarAutoridadEstudiante(autoridad.idEstudianteCargo)">
                                    <i class="fa fa-edit fa-stack-1x fa-inverse"></i>  
                                </a>                            
                            </span>
                            <span class="fa-stack ml-1 mt-1" aria-hidden="true" tooltip="Eliminar Registro">
                                <a (click)="openModalCargoEstudiante(templateEstudiante,autoridad.idEstudianteCargo)">
                                    <i class="fa fa-trash-alt fa-stack-1x fa-inverse"></i>
                                </a>                            
                            </span>
                        </div>
                        <div *ngIf="autoridad.idEstamento==2">
                            <span class="fa-stack mt-1" aria-hidden="true" tooltip="Editar Registro">
                                <a (click)="registrarAutoridadDocente(autoridad.idEstudianteCargo)">
                                    <i class="fa fa-edit fa-stack-1x fa-inverse"></i>  
                                </a>                            
                            </span>
                            <span class="fa-stack ml-1 mt-1" aria-hidden="true" tooltip="Eliminar Registro">
                                <a (click)="openModalCargoDocente(templateDocente,autoridad.idEstudianteCargo)">
                                    <i class="fa fa-trash-alt fa-stack-1x fa-inverse"></i>
                                </a>                            
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <!-- <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Atras" nextLabel="Siguiente"></pagination-controls> -->
    </div>
</div>

<ng-template #templateEstudiante>
    <div class="modal-body text-center">
        <p>Confirmar Eliminación</p>
        <button type="button" class="btn btn-dark" (click)="confirmCargoEstudiante()">Si</button>
        <button type="button" class="btn btn-primary" (click)="declineCargoEstudiante()">No</button>
    </div>
</ng-template>

<ng-template #templateDocente>
    <div class="modal-body text-center">
        <p>Confirmar Eliminación</p>
        <button type="button" class="btn btn-dark" (click)="confirmCargoDocente()">Si</button>
        <button type="button" class="btn btn-primary" (click)="declineCargoDocente()">No</button>
    </div>
</ng-template>