<div class="container my-4 animated fadeIn">
    <div class="row">
        <h1 class="display-4">Usuario</h1>
    </div>
    <div class="alert alert-danger " *ngIf="error">
        {{ errorMensaje }}
    </div>
    <div class="row">
        <input class="form-control" type="search" name="searchPersona" id="searchPersona" placeholder="Buscar Usuario" [(ngModel)]="searchText"> {{busqueda}}
    </div>
    <div class="row mt-2">
        <button class="btn btn-outline-success" (click)="registrarUsuario(0)"><i class="fas fa-plus"></i> Adicionar Usuario </button>
    </div>
    <div class="row mt-2">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col" class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }; index as i ">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ usuario.usuario }}</td>
                    <td>{{ usuario.nombreCompleto }}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-success" (click)="registrarUnidades(usuario.idUsuario)"> Unidades </button>
                        <button class="btn btn-outline-primary" (click)="registrarRoles(usuario.idUsuario)"> Roles </button>
                        <button class="btn btn-outline-info" (click)="registrarUsuario(usuario.idUsuario)"> Editar </button>
                        <button class="btn btn-outline-danger" (click)="openModal(template,usuario.idUsuario)" data-toggle="modal" data-target="#eliminarModal"> Eliminar </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Atras" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Confirmar Eliminación</p>
        <button type="button" class="btn btn-dark" (click)="confirm()">Si</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>