@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.ng-invalid:not(form) {
    border-left: 5px solid red;
}

html {
    height: auto;
}

body,
app-root {
    height: 100%;
    width: 100%;
    margin: 0;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

table .btn {
    margin-left: 20px;
}

.icon {
    text-align: center;
    margin-top: 5em
}

.fa.fa-edit,
.fa-trash-alt,
.fa-frown-o,
.fa-futbol-o,
.fa-heart-o {
    border-radius: 50%;
    background: #b4b4b4;
}

.fa-frown-o:hover {
    background: #EA6212;
}

.fa-futbol-o:hover {
    background: #EA6212;
}

.fa-trash-alt:hover {
    color: #ffba2f;
    background: #336090;
}

.fa.fa-edit:hover {
    color: #e8e713;
    background: #336090;
}